<ion-view view-title="Try mruby">
  <ion-content>
    <form><textarea id="code" name="code">5.times { puts "Ruby is awesome!" }</textarea></form>
    <div class="button-bar bar-assertive">
      <button class="button button-small" id="submit-button">Run</button>
      <button class="button button-small" id="clear-input">Clear Editor</button>
      <button class="button button-small" id="clear-history">Clear History</button>
    </div>
    <hr>
    <div id="output"></div>
  </ion-content>
</ion-view>
